@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}
/* header {
  background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #7c3aed 100%);
} */

body {
  /* height: 100%; */
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  background-image: radial-gradient(
      circle at 50% 100%,
      rgba(70, 85, 110, 0.5) 0%,
      transparent 60%
    ),
    radial-gradient(
      circle at 50% 100%,
      rgba(99, 102, 241, 0.4) 0%,
      transparent 70%
    ),
    radial-gradient(
      circle at 50% 100%,
      rgba(181, 184, 208, 0.3) 0%,
      transparent 80%
    );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
main {
  flex: 1;
}

.card {
  border-radius: 0.5rem;
  margin: 1em auto;
  color: black;
  min-width: 100%;
}
.jumbotron {
  background-color: transparent;
}
footer {
  border-radius: 0.5rem;
  margin: 5px 10px;
  color: black;
}

ul {
  border-radius: 2rem;
  /* background-color: lightcyan; */
}

footer .container .footer-text {
  text-align: center;
  margin: 0;
}
header nav ul li a {
  background-color: rgba(99, 102, 241, 0.8); /* Electric Indigo */
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
header nav ul li a:hover {
  background-color: rgba(181, 184, 208, 0.8); /* Frosted Silver on hover */
  color: black;
}
